<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <!-- New Task Area -->
  <section>
    <!-- New Task Box -->
    <div class="new-task">
      <h2>Add New Task</h2>
      <form id='newTaskForm' method="" action="">
        <textarea name="text" id="task-text"></textarea>
        <button id='newTaskFormSubmit' type="submit">Submit</button>
      </form>
    </div>
    <!-- End Task Box -->
  </section>
  <!-- End Task Area -->
</body>

</html>
