<!DOCTYPE html>
<html lang="en">

<head>
  <title>Register Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/register.css" type="text/css" />

</head>

<body>
  <div class="register">
    <h2>Create account</h2>
    <form id='registerForm' method="POST" action="/api/users/register">
      <div class="name-area">
        <label for="name">Your name</label>
        <input type="name" name="name" placeholder="Enter name">
      </div>
      <div class="email-area">
        <label for="email">Email address</label>
        <input type="email" name="email" placeholder="Enter email">
      </div>
      <div class="password-area">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password">
      </div>
      <div class="repeated-password-area">
        <label for="password">Password again</label>
        <input type="password" name="repeatedPassword" placeholder="Password">
      </div>
      <div class="continue-button">
        <button class="btn btn-warning" type="submit">Continue</button>
      </div>
      <div>
        <p>Already have an account?<a href="/api/users/login">Sign in</a></p>
      </div>
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
