section {
  margin: 10px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  font-size: 20px;
  position: absolute;
  top: 20px;

  h3 {
    margin: 20px 0;
  }

  .table {
    margin: 10px 0;
  }

}
