.main-container {
  margin-left: 100px;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .new-task-form {
    width: auto;

    div {
      text-align: center;
    }

    #newTaskForm {
      display: none;
      margin: 0 30%;

      label {
        text-align: left;
      }

      .new-task-reminder-date {
        display: none;

        h6 {
          text-align: left;
        }
      }

    }
  }

  .taskLists {
    height: 90%;
    width: auto;

    .taskLists-groupA {
      display: flex;
      flex-direction: row;
      height: 80%;
    };

    .taskLists-group {
      height: 20%;

      .uncategorizedList {
        width: auto;
        height: 100%;
      }
    }
  }

}


li a {
  text-decoration: none;
  color: black
};

i {
  margin-right: 5px;
  vertical-align: middle;
  font-size: 25px;
  color: red;
  animation: move 0.5s infinite;
  animation-direction: alternate;
}
@keyframes move {
  0%
  {
    transform: translateX(-5px);
  }
  100%
  {
    transform: translateX(5px);
  }
}

.foodList {
  margin-right: 5px;
  border: 1px solid #88d62f;
  background-color: #88d62f;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
}

.booksList {
  margin-right: 5px;
  border: 1px solid #00b371;
  background-color: #00b371;
  background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
}

.moviesList {
  margin-right: 5px;
  border: 1px solid #0097e8;
  background-color: #0097e8;
  background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");
}

.productsList {
  border: 1px solid #5fb300;
  background-color: #5fb300;
  background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
}

.uncategorizedList {
  border: 1px solid #a5b395;
  background-color: #a5b395;
  background-image: url("https://www.transparenttextures.com/patterns/dark-wall.png");
}
