.main-container {
  margin-left: 100px;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .new-task-form {
    width: auto;
    padding: 0;
    border: none;

    i {
      margin-right: 5px;
      vertical-align: middle;
      font-size: 25px;
      color: red;
      animation: move 0.5s infinite;
      animation-direction: alternate;
    }

    div {
      text-align: center;
    }

    #newTaskForm {
      display: none;
      margin: 0 30%;

      label {
        text-align: left;
      }

      .new-task-reminder-date {
        display: none;

        h6 {
          text-align: left;
        }
      }

    }
  }

  .btn-primary{
    width: 100%;
  }

  .taskLists {
    height: 90%;
    width: auto;

    h4 {
      text-align: center;
    }

    .taskLists-groupA {
      display: flex;
      flex-direction: row;
      height: 80%;
    };

    .taskLists-group {
      height: 20%;

      .uncategorizedList {
        width: auto;
        height: 100%;
      }
    }

    .toDoListItem {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .toDoRightSide {

        .listButtonComplete {
          color: rgb(119, 250, 119);
          margin-right: 1px;
        }

        .listButtonDelete {
          color: rgb(255, 125, 125);
          margin-right: 10px;
        }
      }

    }
  }

}

.task, .description {
  margin-bottom: 0;
  width: auto
}

.task {
  width: auto;
  height: auto;
}

@keyframes move {
  0%
  {
    transform: translateX(-5px);
  }
  100%
  {
    transform: translateX(5px);
  }
}

.foodList {
  margin-right: 20px;
  background-color: white;
  border-top: #AAF1F5 20px solid;
  border-radius: 20px;
}

.booksList {
  margin-right: 20px;
  background-color: white;
  border-top: #51B9CD 20px solid;
  border-radius: 20px;
}

.moviesList {
  margin-right: 20px;
  background-color: white;
  border-top: #F8E5E6 20px solid;
  border-radius: 20px;
}

.productsList {
  background-color:white;
  border-top: #3A5673 20px solid;
  border-radius: 20px;
}

.uncategorizedList {
  background-color: white;
  height: 200%;
  border-top: #3CACAE 20px solid;
  border-radius: 20px;

}
