body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #F2F1EF;
}


.taskLists {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.taskLists-groupA {
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  height: 400px;
  width: 100%;
}

.taskLists-groupB {
  padding: 5px 0;
  display: flex;
  justify-content: space-evenly;
  height: 400px;
  width: 100%;
}

li{
  font-size: larger;
}

.foodList{
  background-color: lightcoral;
  width: 25%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}

.moviesList{
  background-color: lightgreen;
  width: 25%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}

.booksList{
  background-color: plum;
  width: 25%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}

.productsList{
  background-color: blueviolet;
  width: 25%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}

.listButton{
  padding: 0;
  border: none;
  background: none;
}

.toDoListItem{
display: flex;
align-content: space-around;
justify-content: space-between;
}

.toDoRightSide{
  display: flex;
}
.uncategorizedList{
  align-self: center;
  background-color: lightgray;
  width: 25%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
