body {
  align-items: center;
  min-height: 100vh;
  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}

.taskLists {
  display: flex;
  justify-content: space-evenly;
  height: 400px;
  width: 100%;
}

.foodList{
  background-color: lightcoral;
  width: 25%;
}

.moviesList{
  background-color: lightgreen;
  width: 25%;
}

.booksList{
  background-color: plum;
  width: 25%;
}

.productsList{
  background-color: blueviolet;
  width: 25%;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 10px;
}
